.list {
    display: flex;
    margin-left: 45px;
    margin-top: 110px;
}

.textOne {
    color: rgb(69, 69, 69);
    font-size:15px;
    cursor: pointer;
    margin-right: 3rem;
}

.textTwo {
    color: rgb(69, 69, 69);
    font-size:15px;
    cursor: pointer;
    margin-right: 3rem;
}

.textThree {
    color: rgb(69, 69, 69);
    font-size:15px;
    margin-right: 3rem;
    cursor: pointer;
}

.textFour {
    color: rgb(69, 69, 69);

    margin-right: 3rem;
    font-size:15px;
    cursor: pointer;
}

.textFive {

    margin-right: 3rem;
    color: rgb(69, 69, 69);
    font-size:15px;
    cursor: pointer;
    width: 18px;
}

.categoriesOne {
    width: 63px;
    margin-top: -12px;
    margin-right: 2rem;
    border-radius: 74px;
    padding: 12px 14px;
    background-color: #1A1A1A;
    

    .textOne {
        color: white;
    }
}

.categoriesTwo {
    margin-top: -12px;
    margin-right: 2rem;
    border-radius: 74px;
    padding: 12px 15px;
    background-color: #1A1A1A;
    width: 70px;

    .textTwo {
        color: white;
    }
}

.categoriesThree {
    margin-top: -12px;
    margin-right: 2rem;
    border-radius: 74px;
    padding: 12px 14px;
    background-color: #1A1A1A;
    width: 73px;

    .textThree {
        color: white;
    }
}

.categoriesFour {
    margin-top: -12px;
    margin-right: 2rem;
    border-radius: 74px;
    padding: 12px 14px;
    background-color: #1A1A1A;
    width: 81px;

    .textFour {
        color: white;
    }
}

.categoriesFive {
    margin-top: -12px;
    margin-right: 2rem;
    border-radius: 74px;
    padding: 12px 14px;
    background-color: #1A1A1A;
    width: 53px;

    .textFive {
        color: white;
    }
}

.search {
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: none;
    background: rgb(242, 242, 242);
    height: 33px;
    width: 250px;
    text-indent: 14px;
    margin-left: 39rem;
    transform: translateY(-38px);
    box-shadow: inset 3px 4px 3px 0px rgba(0, 0, 0, 0.2);
  }
