.radioType {
  margin: auto;
  margin-top: 16px;
  margin-left: 18px;
  margin-right: 8px;
  position: relative;
  font-size: 13px;
  cursor: pointer;
}

.ActiveTradition {
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 42px;
  padding: 13px 12px 11px 14px;
  margin-left: 4px;
  margin-right: -4px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}

.ActiveTradition:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease-in-out;
}

.ActiveThin {
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 42px;
  padding: 13px 13px 11px 13px;
  margin-left: 1px;
  margin-right: -1px;
  border-radius: 7px;
  font-size: 13px;
  transform: translateX(4px);
  cursor: pointer;
}

.ActiveThin:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease-in-out;
}

.InputRadio {
  display: none;
}