.inline {
    display: flex;
    flex-wrap: wrap;
    margin-left: 26px;
}

.MenuCombo {
    margin-left: 60px;
    margin-bottom: 25px;
}

.card {
    font-size: 12px;
    border-radius: 15px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
    padding: 26px 39px;
    width: 209px;
    height: 426px;
    margin: 6px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}

.card:hover {
    color: black;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.ComboName {
    transform: translateX(-21px);
    font-size: 12px;
    width: 260px;
    margin: 16px 0px
}



.desc {
    color: rgb(76, 76, 76);
}

.price {
    margin-top: 11px;
    margin-bottom: 16px;
}

h2 {
    transform: translateY(13px);
}

.fixBag {
    margin-top: -20px;
}

.btn {
    margin-left: 17px;
    margin-top: 17px;
    border: 2px solid #d3d3d3;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 24px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 191px;
}

.btn:disabled {
    pointer-events: none;
}

.btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: none;
}

.imgCombo {
    width: 204px;
    transform: translateX(-10px);
    transition: 0.3s ease-in-out;
}

.FixOne {
    .price {
        margin-top: -8px;
    }
}

.FixTwo {
    .price {
        margin-top: -3px;
    }
}

.FixThree {
    .ComboName {
        font-size: 11px;
    }

    .price {
        margin-top: 1px;
    }
}
.FixFour {
    .price {
        margin-top: -5px;
    }
}
